@{
    Layout = "~/Views/Shared/_AppSecondaryLayout.cshtml";
}
@section head
{
    <style>
        .TopDIV
        {
            background: #8895b4;
            padding: 10px;
            color:#fff;
            font-size:14px;
            line-height:20px;
        }
    </style>
}
<div data-role="content">
    <div class="TopDIV">
        留下您的信息，将会有专业代表与您联系。并可能享受以下服务.<br />
        1.专业的顾问服务<br />
        2.获赠小礼品
    </div>
</div>
