@{
    ViewBag.Title = "ProjectInfo";
    Layout = "~/Views/Shared/_AppSecondaryLayout.cshtml";
}
@section head{
    <style>
        .MainDIV
        {
            min-height: 320px;
            width: 95% !important;
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(34,25,25,0.4);
            margin-bottom: 0.7em;
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
            padding:10px;
        }
        .title
        {
            font-weight: bolder;
            font-size: 1.25em;
        }
        
        .conter
        {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #5c5c5c !important;
            line-height: 1.5 !important;
            background: none !important;
            text-shadow: none !important;
            font-size: 16px !important;
        }
          .conter p
        {
            margin: 0px !important;
        }
        .conter *
        {
            line-height: 1.5 !important;
            font-size: 16px !important;
            text-shadow: none !important;
            max-width: 100% !important;
        }
       
        
    </style>
}
<div data-role="content">
    <div class="MainDIV">
        <div class="title">项目动态</div>
        <div class="conter">
             目前，项目已完成1、2、3号宿舍楼及综合楼的装饰工程及安装工程，正进行项目范围范围内综合管线、道路、绿化等配套工程施工，累计完成投资达93.2%。南海联晟土资公司 将全力推进项目进度，抓紧时间进行小区配套工程施工，力争尽快投入使用。
            <img src="../../Image/a.jpg" /><img src="../../Image/b.jpg" /><img src="../../Image/c.jpg" />
            
         </div>
    </div>
</div>

