@{
    ViewBag.Title = "ProjectInfo";
    Layout = "~/Views/Shared/_AppSecondaryLayout.cshtml";
}
@section head{
    <style>
        .MainDIV
        {
            min-height: 320px;
            width: 95% !important;
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(34,25,25,0.4);
            margin-bottom: 0.7em;
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
            padding:10px;
        }
        .title
        {
            font-weight: bolder;
            font-size: 1.25em;
        }
        
        .conter
        {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #5c5c5c !important;
            line-height: 1.5 !important;
            background: none !important;
            text-shadow: none !important;
            font-size: 16px !important;
        }
          .conter p
        {
            margin: 0px !important;
        }
        .conter *
        {
            line-height: 1.5 !important;
            font-size: 16px !important;
            text-shadow: none !important;
            max-width: 100% !important;
        }
       
        
    </style>
}
@model Entity.New
<div data-role="content">
    <div class="MainDIV">
        <div class="title">@Model.Title</div>
        <div class="conter">
             @Html.Raw(Model.Content)
         </div>
    </div>
</div>

